.slideshow {
    width: 100%;
    overflow: hidden;
    position: relative;
}
.slideshow img {
    width: 100%;
    height: auto;
    display: block;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 1s ease-in-out;
}
.slideshow img.active {
    opacity: 1;
}